<%= form_with(model: [story, Comment.new], url: story_comments_path(story)) do |form| %>
  <div class="field">
    <%= form.label :user_name, 'Your Name' %>
    <%= form.text_field :user_name %>
  </div><br>

  <div class="field">
    <%= form.label :content, 'Comment' %>
    <%= form.text_area :content %>
  </div><br>

  <%= form.submit 'Post Comment' %>
<% end %>
