<%= form_with(model: [story, Comment.new], local: true) do |form| %>
  <%= form.hidden_field :parent_comment_id, value: @story.id %>
  <div class="card" id="usercomment">
  <div class="card-body">
  <div>
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </div><br>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div><br>
  <div>
    <%= form.submit 'Post Comment' %>
  </div>
  </div>
  </div>
<% end %>


 